body {
  margin: 0;
}

#main {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
}

#image {
  display: block;
  max-width: 85%;
  margin: 0 auto;
}

#img-div {
  position: relative;
  text-align: center;
  background-color: #fff;
}
#img-caption {
  position: absolute;
  left: 60%;
  bottom: 20%;
  text-align: center;
  padding: 0 80px;
  font-family: "Philosopher", sans-serif;
  font-size: 1.5rem;
  color: #757575;
}

#title > h1 {
  font-family: "Arapey", serif;
  font-size: 4rem;
  font-weight: lighter;
  padding-top: 50px;
  margin-bottom: 0;
}

#title {
  text-align: center;
  background: linear-gradient(to right, #fff, #cae8d5, #84a9ac);
}

#title > p {
  margin-top: 0;
  font-family: "Arapey", serif;
  color: #757575;
  font-size: 0.9rem;
}

#tribute-info {
  margin-top: 100px;
  padding: 0 50px;
}

#tribute-info > p {
  font-family: "Philosopher", sans-serif;
  font-size: 1rem;
  color: #757575;
}

#tribute-link {
  text-decoration: none;
  font-size: 0.8rem;
  color: #142d4c;
}
#tribute-link:hover {
  background-color: #bcbab8;
  padding: 5px 5px;
  border-radius: 40%;
  font-weight: 500;
}

/* font-family: 'Arapey', serif;
font-family: 'Philosopher', sans-serif;
*/
@media screen and (max-width: 330px) {
  #main {
    display: grid;
    grid-template-columns: 1fr;
  }

  #img-caption {
    position: absolute;
    left: 55%;
    bottom: 20%;
    padding: 0 20px;
    text-align: center;
    font-family: "Philosopher", sans-serif;
    font-size: 0.8rem;
    color: #757575;
  }
  #title > h1 {
    font-family: "Arapey", serif;
    font-size: 2rem;
    font-weight: lighter;
    padding-top: 10px;
    margin-bottom: 0;
  }
  #title > p {
    margin-top: 0;
    font-family: "Arapey", serif;
    color: #757575;
    font-size: 0.7rem;
  }
  #tribute-info {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0 50px;
  }

  #tribute-info > p {
    font-family: "Philosopher", sans-serif;
    font-size: 0.85rem;
    color: #757575;
  }
}

@media screen and (max-width: 768px) and (min-width: 330px) {
  #main {
    display: grid;
    grid-template-columns: 1fr;
  }

  #img-caption {
    position: absolute;
    left: 60%;
    bottom: 25%;
    padding: 0 70px;
    text-align: center;
    font-family: "Philosopher", sans-serif;
    font-size: 1.2rem;
    color: #757575;
  }
  #title > h1 {
    font-family: "Arapey", serif;
    font-size: 2.5rem;
    font-weight: lighter;
    padding-top: 10px;
    margin-bottom: 0;
  }
  #title > p {
    margin-top: 0;
    font-family: "Arapey", serif;
    color: #757575;
    font-size: 0.7rem;
  }
  #tribute-info {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0 50px;
  }

  #tribute-info > p {
    font-family: "Philosopher", sans-serif;
    font-size: 0.85rem;
    color: #757575;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  #main {
    display: grid;
    grid-template-columns: 1fr;
  }

  #img-caption {
    position: absolute;
    left: 65%;
    bottom: 25%;
    padding: 0 100px;
    text-align: center;
    font-family: "Philosopher", sans-serif;
    font-size: 1.5rem;
    color: #757575;
  }
  #title > h1 {
    font-family: "Arapey", serif;
    font-size: 3rem;
    font-weight: lighter;
    padding-top: 10px;
    margin-bottom: 0;
  }
  #title > p {
    margin-top: 0;
    font-family: "Arapey", serif;
    color: #757575;
    font-size: 0.7rem;
  }
  #tribute-info {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0 50px;
  }

  #tribute-info > p {
    font-family: "Philosopher", sans-serif;
    font-size: 0.85rem;
    color: #757575;
  }
}
